body {
    background: #f0f0ee !important;
}

.form-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 35px 45px;
    background: #8fc3eb !important;
    width: 191vh;
    height: 101vh;
    margin-top: 90px;
}

.codigo-barras {
    background: rgb(224, 236, 250) !important;
    position: absolute;
    font-size: 20px;
    width: 130vh !important;
    margin-bottom: 27vh;
    left: 170px;
    border: 2px solid #d6edff;
    border-radius: 10px;
}

.botao-add {
    position: absolute;
    width: 170px;
    margin-bottom: 27vh;
    right: 225px;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.botao-limpar {
    position: absolute;
    font-size: 20px;
    width: 100px;
    margin-top: 85vh;
    right: 170px;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.produtos {
    margin-top: 10px;
}

.lista {
    top: 41%;
    position: absolute;
    overflow-y: auto;
    height: 430px;
    width: 1500px;
    background: rgb(224, 236, 250);
    border: 2px solid #d6edff;
    border-radius: 10px;
}

.erro_inativo {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 30px;
    right: 20px;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 17px;
}

.imagem {
    margin-bottom: 240px;
}

.botao-finalizar {
    position: absolute;
    font-size: 20px;
    width: 153px;
    margin-top: 85vh;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.botao-referencia {
    position: absolute;
    font-size: 20px;
    width: 173px;
    margin-top: 85vh;
    left: 170px;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.valor_total {
    position: absolute;
    margin-top: 72vh;
    margin-left: 125vh;
    width: 340px;
    color: rgb(9, 67, 143);
}

.itens {
    position: absolute;
    margin-top: 72vh;
    margin-right: 145vh;
    color: rgb(9, 67, 143);
}

.ref {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-title1 {
    margin-left: 14vh;
}

.modal-title3 {
    margin-left: 10vh;
}

.lixeira {
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    color: black;
}

.lixeira:hover {
    color: red;
}

.campo {
    margin-bottom: 40vh;
    margin-right: 138vh;
    color: rgb(9, 67, 143);
    font-size: 22px;
}

.prod_add {
    color: rgb(9, 67, 143);
    font-size: 25px;
    margin-left: 10px;
}

.topo .qtd {
    width: 50px;
}

.topo .preco{
    width: 10px;
    text-align: right;
}

.topo .codbarras {
    width: 100px;
}

.topo .exc {
    width: 10px;
}

.topo .nome {
    width: 600px;
}

.btn-ok-modal {
    background-color: rgb(9, 67, 143) !important;
    color: #ffffff;
}

.btn-ok-modal:hover, .botao-add-codigo:hover, .finalizar-compra-codigo:hover, .botao-referencia:hover, .botao-finalizar:hover, .botao-limpar:hover, .botao-add:hover, .botao-referencia-codigo:hover{
    background-color: yellow !important;
    color: #000 !important;
    border-color: rgb(235, 238, 79) !important;
}

.form-group {
    position: relative;
}

.input-cod{
    top: -65%;
    left: -42%;
    width: 350px;
}

.input-cod span {
    position: absolute;
    left: 175px;
    top: 8px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.input-ref span {
    position: absolute;
    left: 10px;
    top: 8px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.form-group input:focus~span {
    transform: translateY(-40px);
    opacity: 1;
    font-size: 16px;
}

.input-cod input:focus~span {
    transform: translateY(-40px);
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    color: rgb(9, 67, 143);
}

.input-cod input:valid~span {
    transform: translateY(-40px);
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    color: rgb(9, 67, 143);
}

.input-ref input:valid~span {
    transform: translateY(-40px);
    opacity: 1;
    font-size: 16px;
}

.input-group-text-senha {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    position: absolute;
    left: 45vh;
    margin-top: -56px;
    z-index: 2;
    padding: 10px;
}

.erroo, .erro{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red
}

.botao-add-codigo{
    position: absolute;
    font-size: 32px;
    margin-bottom: 27vh;
    left: 169vh;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.finalizar-compra-codigo{
    position: absolute;
    font-size: 32px;
    margin-top: 85vh;
    left: 105vh;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.botao-referencia-codigo{
    position: absolute;
    font-size: 32px;
    margin-top: 85vh;
    left: 37vh;
    border: 2px solid #d6edff !important;
    border-radius: 5px !important;
    background-color: #d6edff !important;
    color: rgb(9, 67, 143) !important;
}

.inquantidade, .qtd, .inpreco{
    text-align: right;
}

.lixeira{
    text-align: right;
    width: 100px;
}