{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="imagex/png" href="{% static 'imagens/logo.ico' %}">
  <link rel="stylesheet" href="{% static 'compra/conveniencia.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Conveniência</title>
</head>

<body>
  <form class="form-modal" method="post" action="{% url 'finalizar_compra' %}">
    {% csrf_token %}
    <div class="modal fade" id="enviarLoginModal" tabindex="-1" role="dialog" aria-labelledby="enviarLoginModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title3" id="enviarLoginModalLabel">Confirmação de Colaborador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <br>
            <div class="form-group input-ref">
              <input type="text" class="form-control login" id="login" value="{{request.POST.login}}" name="login"
                autocomplete="off" required>
              <span>Login</span>
            </div>
            <div class="erro" id="erro">
              {{ erro }}
            </div>
            <br>
            <div class="form-group input-ref">
              <input type="password" class="form-control senhaConf" id="senha" name="senha" autocomplete="off" required>
              <span>Senha</span>
            </div>
            <span class="input-group-text-senha">
              <i class="fas fa-eye" id="togglePasswordC"></i>
            </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary btn-ok-modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form class="form-modal" method="post" action="{% url 'verificar_referencia' %}">
    {% csrf_token %}
    <div class="modal fade" id="enviarLoginRefModal" tabindex="-1" role="dialog"
      aria-labelledby="enviarLoginRefModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title1" id="enviarLoginRefModalLabel">Verificar Referência</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <br>
            <div class="error-message" id="error-message"></div>
            <div class="form-group input-ref">
              <input type="text" class="form-control login" id="loginn" name="login" autocomplete="off" required>
              <span>Login</span>
            </div>
            <div class="erroo" id="erroo">
              {{ erro }}
            </div>
            <br>
            <div class="form-group input-ref">
              <input type="password" class="form-control senhaRef" id="senhaa" name="senha" autocomplete="off" required>
              <span>Senha</span>
            </div>
            <span class="input-group-text-senha">
              <i class="fas fa-eye" id="togglePasswordR"></i>
            </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary btn-ok-modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" id="enviarReferenciaModal" tabindex="-1" role="dialog" aria-labelledby="enviarReferenciaModal"
    aria-hidden="true">
    <div class="modal-dialog ref align-items-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title2" id="enviarReferenciaModalLabel">Gastos: {{colaborador}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Referência Anterior: R$ {{ gasto_referencia_anterior }}</p>
          <p>Referência Atual: R$ {{ gasto_referencia_atual }}</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <form class="form-compra" method="post" action="{% url 'conveniencia' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <li{% if message.tags %} id={{message.tags}} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}
    <img class="imagem" src="{% static 'imagens/logooficial.png' %}">
    <strong class="campo">Inserir produto:</strong>
    <div class="form-group input-cod">
      <input type="text" required class="form-control codigo-barras" id="codigo_barras" maxlength="13" name="codigo_barras"
        autocomplete="off">
      <span>Código de Barras</span>
    </div>
    <button class="btn btn-light botao-add" type="submit"><strong>Adicionar Produto</strong></button>
    <button class="btn btn-light botao-limpar" name="limpar" formnovalidate formaction="{% url 'limpar' %}">
      <strong>Limpar</strong></button>
    <a class="btn btn-light botao-finalizar" data-toggle="modal" data-target="#enviarLoginModal"><strong>Finalizar
        Compra</strong></a>
    <a class="btn btn-light botao-referencia" data-toggle="modal" data-target="#enviarLoginRefModal"><strong>Verificar
        Referência</strong></a>
    <a class="fa fa-qrcode botao-add-codigo" href="{% url 'add_prod_codigo' %}"></a>
    <a class="fa fa-qrcode finalizar-compra-codigo" href="{% url 'finalizar_compra_codigo' %}"></a>
        <a class="fa fa-qrcode botao-referencia-codigo" href="{% url 'verificar_referencia_codigo' %}"></a>
    <div class="lista">
      <table class="table table-hover">
        {% if produtos_adicionados %}
        <strong class="prod_add">Produtos Adicionados</strong>
        <thead class="topo">
          <tr class="topo">
            <th scope="col" class="nome">Nome</th>
            <th scope="col" class="codbarras">Código de Barras</th>
            <th scope="col" class="preco">Preço</th>
            <th scope="col" class="qtd">Quantidade</th>
            <th scope="col" class="exc"></th>
          </tr>
        </thead>
        <ul>
          {% for produto_data in produtos_adicionados %}
          <div class="produtos">
            <tr>
              <td>{{ produto_data.nome }}</td>
              <td>{{ produto_data.codigo_barras }}</td>
              <td class="inpreco">R$ {{ produto_data.preco }}</td>
              <td class="inquantidade">{{ produto_data.quantidade }}</td>
              <td>
                <a href="{% url 'excluir_produto' produto_data.id %}" class="fa fa-minus-square lixeira"
                  aria-hidden="true"></a>
          </div>
          {% endfor %}
        </ul>
      </table>
    </div>
    <div class="valor_total">
      <h5><strong>Valor Total da Compra: R$ {{ valor_total }}</strong></h5>
    </div>
    <div class="itens">
      <h5><strong>Itens: {{itens}}</strong></h5>
      {% endif %}
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

  <script>
    const codigoBarrasField = document.getElementById("codigo_barras");
    codigoBarrasField.addEventListener("input", function () {
      this.value = this.value.replace(/\D/g, "");
    });

    function hideSuccessMessage(message) {
      var erroInativo = document.getElementById("erro_inativo");
      erroInativo.innerText = message;
      erroInativo.style.display = "block";
      setTimeout(function () {
        erroInativo.style.display = "none";
      }, 4000);
    }
    var erroInativo = document.getElementById("erro_inativo");
    if (erroInativo) {
      var message = erroInativo.innerText;
      hideSuccessMessage(message);
    }

    function finalizar_compra() {
      window.location = "{% url 'finalizar_compra' %}";
    }

    {% if mostrar_ref %}

    $(document).ready(function () {
      $('#enviarReferenciaModal').modal('show');
    });

    setTimeout(function () {
      $('#enviarReferenciaModal').modal('hide');
      loginn.value = ''
      senhaa.value = ''
      window.location = "{% url 'conveniencia' %}"
    }, 8000);

    {% endif %}

    $('#enviarReferenciaModal').on('hidden.bs.modal', function () {
      window.location = "{% url 'conveniencia' %}"
    });


    $('#enviarLoginModal').on('hidden.bs.modal', function () {
      login.value = ''
      senha.value = ''
      erroo.style.display = 'none';
      erro.style.display = 'none';
      var newURL = window.location.protocol + '//' + window.location.host + '/compra/conveniencia';
      window.history.pushState({ path: newURL }, '', newURL);
    });

    $('#enviarLoginRefModal').on('hidden.bs.modal', function () {
      loginn.value = ''
      senhaa.value = ''
      erroo.style.display = 'none';
      erro.style.display = 'none';

      var newURL = window.location.protocol + '//' + window.location.host + '/compra/conveniencia';
      window.history.pushState({ path: newURL }, '', newURL);
    });


    {% if mostrar_cad %}

    $(document).ready(function () {
      $('#enviarLoginModal').modal('show');
      var newURL = window.location.protocol + '//' + window.location.host + '/compra/conveniencia';
      window.history.pushState({ path: newURL }, '', newURL);
    });

    {% endif %}


    const togglePasswordR = document.querySelector('#togglePasswordR');
    const passwordInputR = document.querySelector('.senhaRef');

    togglePasswordR.addEventListener('click', function () {
      const type = passwordInputR.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInputR.setAttribute('type', type);
      togglePasswordR.classList.toggle('fa-eye-slash');
    });

    const togglePasswordC = document.querySelector('#togglePasswordC');
    const passwordInputC = document.querySelector('.senhaConf');

    togglePasswordC.addEventListener('click', function () {
      const type = passwordInputC.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInputC.setAttribute('type', type);
      togglePasswordC.classList.toggle('fa-eye-slash');
    });
  </script>

  </script>
</body>

</html>