{% extends 'navbar/navbar.html' %}
{% block title %}Index{% endblock %}
{% block head %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pagina_inicial/pagina_inicial.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Página Inicial</title>
</head>

<body>
    <img class="imagem_tema" src="{% static 'imagens/logooficial.png' %}">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <li{% if message.tags %} id={{message.tags}} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </div>
    {% endif %}

    <div id="grafico_produtos" class="grafico_produtos" title="Produtos mais vendidos">
        {{ grafico_produtos|safe }}
    </div>

    <div id="ref_anterior" class="ref_anterior">
        <div class="titulo-ref">
            <strong>Total gasto referência anterior</strong>
        </div>
        <br>
        <br>
        R$ {{ referencia_anterior }}
    </div>

    <div id="ref_atual" class="ref_atual">
        <div class="titulo-ref">
            <strong>Total gasto referência atual</strong>
        </div>
        <br>
        <br>
        R$ {{ referencia_atual }}
    </div>

    <!-- <div id="grafico" class="grafico" title="Cadastrados no sistema">
        {{ grafico|safe }}
    </div> -->
    <div class="estoque">
        <div class="titulo-estoque">
            <strong>Produtos com Baixo Estoque</strong>
        </div>
        <div class="tabela-prod">
            <table class="table-prod">
                <tr>
                    <th class="produt">Produto</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                </tr>
                {% for produto in produtos_baixo_estoque %}
                <tr>
                    <td class="nome">{{ produto.produtos.nome }}</td>
                    <td class="qtd">{{ produto.quantidade }}</td>
                    <td id="stt" {% if produto.quantidade < 1 %} <i x="Alerta" class="fas fa-square alerta"
                        style="color: #d92121;"></i>
                        {% else %}
                        <i y="Aviso" class="fas fa-square aviso" style="color: #d9d621;"></i>
                        {% endif %}
                    </td>
                    <td class="lapis"> 
                        <a href="{% url 'entrada_estoque' produto.id %}" class="fa fa-pencil lapis"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        const messages = window.document.querySelector('.messages');

        setTimeout(() => {
            messages.style.display = 'none';
        }, 5000);
    </script>
    {% endblock %}
</body>

</html>