body {
    background: #f1f9ff !important;
}

.form-relatorio-consumo {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    height: 56vh;
    text-align: center;
    background-color: #f6fcff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titulo {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53vh;
    position: absolute;
    margin-top: 3vh;
    color: rgb(9, 67, 143); 
    font-weight: bold;
    font-size: 30px;
}

.botao-gerar {
    background-color: rgb(9, 67, 143) !important;
    width: 230px !important;
    left: 58%;
    transform: translate(-50%, -50%);
    margin-top: 48vh;
    position: absolute;
}

.botao-gerar:hover {
    background-color: yellow !important;
    color: #000 !important;
    border-color: rgb(235, 238, 79) !important;
}

.ch-formato-pdf {
    margin-top: 40vh;
    position: absolute;
    margin-left: 220px;
}

.ch-formato-txt {
    margin-top: 40vh;
    margin-left: 345px;
    position: absolute;
}

.de {
    position: absolute;
    left: 6vh;
    margin-top: 15vh;
}

.data_inicio {
    position: absolute;
    margin-top: 140px;
    left: 12vh;
    width: 16vh !important;
}

.ate {
    position: absolute;
    left: 32vh;
    margin-top: 15vh;
}

.data_fim {
    position: absolute;
    left: 38vh;
    margin-top: 140px;
    width: 16vh !important;
}

.login_colab_input {
    position: absolute;
    left: 10%;
    margin-top: 230px;
    width: 48vh !important;
}

.colab_nao_encontrado {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: -16vh;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 14px;
    width: 240px;
}

.robot {
    top: 64%;
    left: 6%;
    position: absolute;
    height: 20vh;
    width: 18vh;
}

.info {
    top: 3%;
    left: 542px;
    position: absolute;
    cursor: pointer;
}

.info::after {
    content: attr(data-message);
    display: none;
    position: absolute;
    background-color: rgb(9, 67, 143);
    color: white;
    padding: 10px;
    width: 420px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    white-space: pre-line;
}

.info:hover::after {
    display: block;
}

.ch-email{
    position: absolute;
    left: 10%;
    margin-top: 290px;
    font-size: 17px;
}

.email_input{
    position: absolute;
    left: 38%;
    margin-top: 285px;
    width: 302px !important;
    visibility: hidden;
}

.form-group span{
    position: absolute;
    left: 73px;
    top: 238px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.form-group input:focus ~ span{
    transform: translateY(-40px);
    opacity: 1;
    font-size: 14px;
}

.form-group input:valid ~ span{
    transform: translateY(-40px);
    opacity: 1;
    font-size: 14px;
}

