{% extends 'navbar/navbar.html' %}
{% block title %}Index{% endblock %}
{% block head %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'produtos/acessar.css' %}" />
  <title>Acesso ao Produto</title>
</head>

<body>
  <body>
    <div class="modal fade" id="enviarMensagemModalInativacao" tabindex="-1" role="dialog"
      aria-labelledby="enviarMensagemModalInativacao" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enviarMensagemModalInativacao">Confirmação de Inativação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que inativar este produto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-ok-modal" onclick="inativar()">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="enviarMensagemModalAtivacao" tabindex="-1" role="dialog"
      aria-labelledby="enviarMensagemModalAtivacao" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enviarMensagemModalInativacao">Confirmação de Ativação</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Tem certeza que ativar este produto?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-ok-modal" onclick="ativar()">OK</button>
          </div>
        </div>
      </div>
    </div>
  <div class="form">
    <form class="form-acesso-produto" action="{% url 'alterar_produto' produto.id %}" method="POST">
      {% csrf_token %}
      <img class="robot" src="{% static 'imagens/robot.png' %}">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </div>
      {% endif %}
      <h2 class="titulo">Edição de Produto</h2>
      <i onclick="history.back()" class="fa fa-arrow-left arrow"></i>
      <input type="hidden" value="{{produto.id}}" name="produto_id">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </div>
      {% endif %}
      <div class="form-group input-nome">
        <input type="text" class="form-control nome" id="nome" name="nome" autocomplete="off" required
          value="{{produto.nome}}" />
        <span>Nome</span>
      </div>
      <div class="form-group">
        <select name="opc" class="form-control custom-select">
          <option value="1" {% if produto.tipo == 'Alimento' %}selected{% endif %}>Alimento</option>
          <option value="2" {% if produto.tipo == 'Bebida' %}selected{% endif %}>Bebida</option>
          <option value="3" {% if produto.tipo == 'Camiseta' %}selected{% endif %}>Camiseta</option>
          <option value="4" {% if produto.tipo == 'Ingresso' %}selected{% endif %}>Ingresso</option>
        </select>    
        <p class="classif">Classificação</p>      
      </div>
      <div class="form-group">
        <input type="text" class="form-control codigo_barras" id="codigo_barras" maxlength="13" name="codigo_barras" autocomplete="off" required
          value="{{produto.codigo_barras}}" />
        <span>Código de Barras</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control preco" id="preco" name="preco" autocomplete="off" required
          value="R$ {{produto.preco|floatformat:2}}" />
        <span>Preço</span>
      </div>
      <button type="submit" class="btn btn-success botao-salvar btn-lg">Salvar</button>
      {% if produto.ativo %}
      <a data-toggle="modal" data-target="#enviarMensagemModalInativacao"
        class="btn btn-warning btn-lg botao-inativar">Inativar</a>
      {% else %}
      <a data-toggle="modal" data-target="#enviarMensagemModalAtivacao"
        class="btn btn-warning btn-lg botao-ativar">Ativar</a>
      {% endif %}
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  <script>
    const nomeField = document.getElementById("nome");
    nomeField.addEventListener("input", function () {
      this.value = this.value.replace(/[0-9!@#$%¨^&*(),.?":{}|<>[\];=_/+\\-]/g, "");
    });

    const codigoField = document.getElementById("codigo_barras");
    codigoField.addEventListener("input", function () {
      this.value = this.value.replace(/[^0-9]/g, "");
    });

    const precoField = document.getElementById("preco");
    precoField.addEventListener("input", function () {
      this.value = this.value.replace(/[^0-9]/g, "");
      const formatter = new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "BRL",
      });
      this.value = formatter.format(this.value / 100);
    });

    var precoInput = document.getElementById('preco');
    var valor = precoInput.value;
    var valorFormatado = valor.replace('.', ',');
    precoInput.value = valorFormatado;

    function inativar() {
      window.location.href = "{% url 'inativar_produto' produto.id %}";
    }
    function ativar() {
      window.location.href = "{% url 'ativar_produto' produto.id %}";
    }
  </script>
  {% endblock %}
</body>

</html>