<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .fundo {
            background-color: rgb(9, 67, 143);
            width: 100vh;
            height: 13vh;
        }
        .imagem {
            margin-top: -50vh;
            margin-left: 25vh;
            width: 10vh !important;
            height: 10vh !important;
        }
        .texto {
            color: #000000;
            font-size: 20px;
        }
        .att{
            color: #000000;
            font-size: 15px;
            margin-left: 65vh;
        }
    </style>
</head>
<body>
    <div class="fundo">
        <img style="margin-top: 1vh; margin-left: 25vh; width: 40vh; height: 10vh;" src="https://i.ibb.co/bzv2rD7/temaconvenienciabranco.png">

    </div>
    <p class="texto">{{ message }}</p>
    <p class="att">Atenciosamente, Equipe SCI Sistemas Contábeis</p>
</body>
</html>
