body {
	background: #f1f9ff !important;	
}

.form-cadastro-colaborador {
  max-width: 480px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #f6fcff;
  border: 2px solid rgba(0,0,0,0.1); 
  border-radius: 15px; 
}

.form .form-cadastro-colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 90vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.botao-salvar {
    position: fixed;
    width: 308px !important;
    align-self: center;
    margin-top: 64vh;
    background-color: rgb(9, 67, 143) !important;
}

.botao-salvar:hover {
    background-color: yellow !important;
    color: #000 !important;
    border-color: rgb(235, 238, 79) !important;
}  

.robot{
    top: 8%;
    left: 64%;
    font-size: 10px;
    height: 100px;
    position: absolute;
}

.botao-salvar:active,
.botao-salvar:focus {
  outline: none !important;
  box-shadow: none !important;
}
  
.titulo{
    position: absolute;
    text-align: center;
    margin-top: -64vh;
    font-size: 33px;
    color: rgb(9, 67, 143); 
    font-weight: bold;
}

.erro_cpf{
    color: red;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 144px;
    z-index: 1;
}

.erro_email{
    color: red;
    position: absolute;
    margin-top: 218px;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.erro_login{
    color: red;
    position: absolute;
    margin-top: 293px;
    left:50%;
    transform: translate(-50%,-50%);
}

.erro_senha{
    color: red;
    position: absolute;
    margin-top: 440px;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.erro_nome{
    color: red;
    position: absolute;
    margin-top: 72px;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.input-group-text-senha {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    position: absolute;
    left: 38vh;
    margin-top: 23vh;
    z-index: 2;
    padding: 10px;
}

.input-group-text-conf {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    position: absolute;
    left: 38vh;
    margin-top: 372px;
    z-index: 2;
    padding: 10px;
}

.form-group{
    width: 350px;
    position: relative;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    margin-top: 20px;
}

.form-group span{
    position: absolute;
    left: 5px;
    top: 27px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.form-group input:focus ~ span{
    transform: translateY(-40px);
    opacity: 1;
    font-size: 14px;
}

.form-group input:valid ~ span{
    transform: translateY(-40px);
    opacity: 1;
    font-size: 14px;
}

.gerar_senha{
    position: absolute;
    font-size: 15px;
    top: 66%;
    margin-left: 22vh;
    cursor: pointer;
    color: rgb(9, 67, 143);
}