body {
	background: #f1f9ff !important;	
}

.lista {
    position: absolute;
    top:32%;
    left: 10%;
    width: 80% !important;
    margin: 0 auto;
    border: 1px solid #ccc; 
  
}

.filtro{
    position: absolute;
    top:27%;
    left: 34%;
}

.titulo{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(9, 67, 143); 
    font-size: 33px;
}

.filtro .busca{
    width: 500px;
}

.btn-filtrar{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin-left: 10px;
    height: 40px;
    background-color: rgb(9, 67, 143) !important;
    color: white !important;
}

.ch-prod{
    position: absolute;
    top:36%;
    left: 36%;
}


.btn-buscar{
    background-color: rgb(9, 67, 143) !important;
    color: white !important;
    margin-left: 53vh;
    margin-top: -7vh;
}

.success-cadastro-message {
    background-color: green;
    color: #fff;
    padding: 10px; 
    border-radius: 5px;
    position: fixed;
    top: 80px;
    right: 10px;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center; 
    justify-content: center; 
    line-height: 1; 
    font-size: 14px;
}

.botao-edit {
    background-color: rgb(9, 67, 143) !important;
    visibility: hidden;
}

.botao-edit:hover{
    background-color: yellow !important;
    color: #000 !important;
    border-color: rgb(235, 238, 79) !important;
}

tr:hover .botao-edit {
    visibility: visible;
}

.lista {
    table-layout: fixed;
}

.lista th,
.lista td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inpreco{
    width: 120px;
}

.exc{
    width: 80px;
}

.situacao{
    width: 70px;
}

.nome{
    width: 230px;
}

.codbarras{
    width: 140px;
}

.classificacao{
    width: 110px;
}

.inativo {
    background-color: #dee4eb !important;
}

.busca{
    outline: none;
    border: 2px solid rgb(238, 237, 237);
    border-radius: 3px;
    position: absolute;
    margin-top: 273px;
    background-color: #f3faff;
}

.filtro-nome {
    margin-left: 19vh;
    width: 47vh !important;
    height: 37px;
}

.filtro-codigo-barras{
    margin-left: 66vh;
    width: 28vh !important;
    height: 37px;
}

.filtro-preco{
    margin-left: 94vh;
    width: 25vh !important;
    height: 37px;
}

.filtro-classif{
    margin-left: 119vh;
    width: 22vh !important;
    height: 37px;
}

.filtro-situacao{
    margin-left: 141vh;
    width: 296px !important;
    height: 37px;
}
